<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
    <add key="DigitalArchivManagerApi" value="http://192.168.1.20:32509/" />
    <add key="MBPApi" value="https://test-sz.deepsight.cloud/" />
    <add key="PdfPath" value="D:\deepsight_PDF" />
    <add key="Client_Id" value="BcFIT4bxKWyg1W9JttbKAIKMy1SBb4nE0ZvzUnTn" />
    <add key="Client_Secret" value="t3shsaPsTFk7AJxaNM6W9qEomyqOXEbbMfgrFmDe9N6JcBo9Jwgin76WQt2IUHdsS2dgSRC9AC156CV5fwlOIuhPDyvqfJaEsqHFcYdc0P5KX073xp2kEk4Ydg2EjIYF" />
    <add key="MinIO_Endpoint" value="image03-sz.deepsight.cloud" />
    <!--minio授权登录账号-->
    <add key="MinIO_AccessKey" value="minio" />
    <!--minio授权登录密码-->
    <add key="MinIO_SecretKey" value="deepsight0110" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>